@import '_variables.css';

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color: #dddddd;
    color: #505050;
    font-family: var(--defaultFont);
    font-size: var(--defaultFontSize);
    height:100vh;
}

.container{
    width:1100px;
    height:550px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}

#intro.active{
    display: flex !important;
}

#gameplay.active{
    display: grid !important;
}

#intro{
    position:relative;
    width:50%;
    height:100%;
    margin:0 auto;
    background-color: var(--primaryColor);
    border-radius: 20px;
    padding: 25px;
    display:none;
    justify-content:center;
    align-items:center;
}

#intro .wrapper{
    position:relative;
    width:100%;
}

#intro .wrapper span{
    display: block;
    text-align:center;
    font-weight:bold;
    color: #fff;
    font-size:24px;
    margin-bottom: 1rem;
}

#intro .input-group{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 35px;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-bottom: 2rem;
}

#intro .input-group .choose-disc input{
    display:none;
}

#intro .input-group .choose-disc input:checked + label{
    border: 5px solid var(--secondaryColor);
}

#intro .input-group .choose-disc label{
    display:block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor:pointer;
}

#intro .input-group .choose-disc:first-child label{
    background-color: #fff;
}

#intro .input-group .choose-disc:last-child label{
    background-color: #505050;
}

#intro input{
    display:block;
    outline:none;
    border:none;
    width:70%;
    margin:0 auto;
    height:38px;
    padding:7px;
    border-radius: 15px;
    font-size:18px;
    text-align:center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .3)
}

#intro button{
    position:absolute;
    bottom:-55%;
    left:50%;
    transform:translateX(-50%);
    outline:none;
    border:none;
    padding: 12px 18px;
    border-radius: 15px;
    font-size: 16px;
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;

    background-color: var(--secondaryColor);
    cursor:pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5)
}

#intro .disabled{
    background-color: #538aa4;
    cursor: not-allowed;
}

/* Gameplay styles */

#gameplay{
    position:relative;
    width:100%;
    height:100%;
    display:none;
    grid-template-columns: 30% 70%;
    grid-gap: 25px;
}

#gameplay .info{
    position:relative;
    padding: 27px;
    width:100%;
    height:100%;
    background-color: var(--secondaryColor);
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 20px;
}

#gameplay .info span.versus{
    display:block;
    font-size: 35px;
    font-weight:500;
    margin: 2.5rem 0;
}

#gameplay .info .player-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: row wrap
}

#gameplay .info .player-wrapper h3, #gameplay .info .player-wrapper span.score{
    flex:100%;
}

#gameplay .info .player-wrapper span.score{
    display:block;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 50%;
    max-width: 45px;
    max-height: 45px;
    text-align:center;
    font-weight:bold;
    margin:0 auto;
    margin-top: 1.2rem;
}


#gameplay .board{
    position:relative;
    max-width: 550px;
}

#gameplay .board .row, #gameplay .board .row .cell{
    position:relative;
}

#gameplay .board .row .cell{
    background-color: var(--primaryColor);
    width:100%;
    height:100%;
    cursor:pointer
}

#gameplay .board .row .cell .disc{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 50%;
    height:50%;
    border-radius: 50%;
}

#gameplay .board .row .cell .disc-black{
    background-color: #505050;
}

#gameplay .board .row .cell .disc-white{
    background-color: #fafafa;
}